ion-content {
    --background: #FFE599;
}

ion-card-content{
    margin-left: 25px;
    margin-right: 25px;
}

ion-label{
    padding-top: 25px;
    padding-left: 10px;
}

ion-card{
    padding-bottom: 10px;
}


