<ion-content>
  <div class="background-pict">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sign Up </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contact No.</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="primary" size="full">Submit</ion-button>
      </ion-card-content>
      
    </ion-card>
  </div>
  </div>
</ion-content>
