<ion-header>
</ion-header>

<ion-content>


  <div class="background-container">

    <div class="background-filter">



    <ion-card>
      <ion-card-header>
      
        <ion-card-title>
          Welcome to Grocery Store Recommender App
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="loginPage()">
          Sign in
        </ion-button>
        <ion-button  (click)="signupPage()">
          Sign Up
        </ion-button>
        <ion-button>
          Scan
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>
