ion-content {
    --ionic-background-color: peachpuff;
    font-family:Arial, Helvetica, sans-serif;

}
.background-pict{
    height: 100vh;
    width: 100%;
    background: url('C:/Users/KAYE/Desktop/app/log.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
    justify-content: center;
}